* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --c1: #FCBA12;
    --c2: #FB8604;
    --c3: #F7E7D4;
    --c4: #343009;
}

.tx-c-4 {
    color: var(--c3) !important;
}

body {
    background-color: var(--c3);
}

header {
    .navbar {
        background-color: var(--c1) !important;
        color: var(--c2) !important;
    }

    .carousel {
        background-color: var(--c3);
    }

    .carousel-inner {
        height: 500px !important;
    }
}

main {
    min-height: 92vh;

    .posts {
        background-color: var(--c3);

        .jewellery .h1 {
            padding: 20px !important;
        }

        .card {
            background-color: transparent;
            box-shadow: 0 2px 4px black;

            a {
                color: black;
                text-decoration: none;
            }
        }

        .col {
            margin-bottom: 20px;
        }
    }

    .loginSignInForm {

        form {
            background: rgb(252, 186, 18);
            background: linear-gradient(90deg, rgba(252, 186, 18, 0.11528361344537819) 8%, rgba(252, 186, 18, 0.10407913165266103) 96%);
        }
    }

    .adminPanel {
        width: 95%;

        .nav-pills {
            .nav-header {
                background-color: var(--c4);
                color: #F7E7D4;
            }

            button {
                background-color: var(--c2);
            }

            .active {
                color: var(--c4) !important;
                background-color: var(--c2);
                box-shadow: 0px 4px 3px var(--c1), 0px -4px 3px var(--c1);
                translate: 25px 0px;
                transition: 0.9s;
            }
        }
    }

}

footer {
    padding: 20px;
    background-color: var(--c4) !important;
    color: var(--c2) !important;

    .accordion-item {

        button,
        .accordion-header {
            background-color: var(--c2) !important;
            color: var(--c4) !important;
        }

        .accordion-body {
            background-color: var(--c3);
            color: var(--c4);

            ul {
                margin: auto;
            }

            li {
                list-style: none;
                border-bottom: 1px solid red;
            }
        }
    }
}

.h3 {
    border-bottom: 2px solid red;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .loginSignInForm {
        width: 90% !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 619px) {
    .loginSignInForm {
        width: 60% !important;
    }
}

@media screen and (min-width: 620px) and (max-width: 970px) {
    .loginSignInForm {
        width: 45% !important;
    }
}

@media screen and (min-width: 971px) and (max-width: 1200px) {
    .loginSignInForm {
        width: 30% !important;
    }
}